---
title: home
layout: base.njk
---

<header>
    <nav>
        <div class="logo">
            <img src="/image/Resurs 5.png" alt="logo">

        </div>

    </nav>
</header>

<main>
    <div class="julbilder">
        <h1>julbilder</h1>

    </div>

    <div class="påskbilder">
        <h1>påskbilder</h1>

    </div>

</main>